{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-3" style="margin-left: 20px;">
            {% for topic in topics %}
                <h5>{{ topic.title }}</h5>
                {% for section in topic.sections.all %}
                    <p><a href="{% url 'section_edu' pk=topic.course.id id=section.id %}">{{ section.title }}</a></p>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="col-8">
            <div class="container">
                {% for lesson2 in lesson.section.lessons.all %}
                <a {% if lesson2 == lesson %}style="color: grey" {% endif %}  href="{% url 'lesson_edu' pk=lesson.section.topic.course.id id=lesson.section.id lesson=lesson2.id %}">Урок</a>
            {% endfor %}
            {% for test2 in lesson.section.tests.all %}
                <a href="{% url 'test_edu' pk=lesson.section.topic.course.id id=lesson.section.id test=test2.id %}">Тест</a>
            {% endfor %}
                <h2 style="font-weight: bold;">{{ lesson.title }}</h2>
                <p>{{ lesson.content }}</p>
            </div>
        </div>
    </div>
{% endblock content %}
