{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-3" style="margin-left: 20px;">
            {% for topic in topics %}
                <h5>{{ topic.title }}</h5>
                {% for section in topic.sections.all %}
                    <p><a href="#">{{ section.title }}</a></p>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="col-8">
            <div class="container">
                {% for lesson in section.lessons.all %}
                <a href="{% url 'lesson_edu' pk=section.topic.course.id id=section.id lesson=lesson.id %}">Урок</a>
            {% endfor %}
            {% for test in section.tests.all %}
                <a href="{% url 'test_edu' pk=section.topic.course.id id=section.id test=test.id %}">Тест</a>
            {% endfor %}
                <h2 style="font-weight: bold;">{{ lesson_first.title }}</h2>
                <p>{{ lesson_first.content }}</p>
            </div>
        </div>
    </div>
{% endblock content %}
