{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-3" style="margin-left: 20px;">
            {% for topic in topics %}
                <h5>{{ topic.title }}</h5>
                {% for section in topic.sections.all %}
                    <p><a href="#">{{ section.title }}</a></p>
                {% endfor %}
            {% endfor %}
        </div>
        {% if test in request.user.complete_tests.all %}
            <div class="col-8">
            <div class="container">
                {% for lesson in test.section.lessons.all %}
                <a href="{% url 'lesson_edu' pk=test.section.topic.course.id id=test.section.id lesson=lesson.id %}">Урок</a>
            {% endfor %}
            {% for test2 in test.section.tests.all %}
                <a {% if test2 == test %}style="color: grey" {% endif %} href="{% url 'test_edu' pk=test.section.topic.course.id id=test.section.id test=test2.id %}">Тест</a>
            {% endfor %}
                <p>{{ test.text }}</p>
                <h4>Выберите правильный ответ</h4>
                <form action="" method="get">
                    {% for name, variant in variants.items %}
                        <p><label>
                            <input disabled type="checkbox" name="{{ variant }}">{{ variant }}
                        </label></p>
                    {% endfor %}
                    <p class="btn btn-success">Задание выполнено</p>
                </form>
            </div>
        </div>
            {% else %}
        <div class="col-8">
            <div class="container">
                <p>{{ test.text }}</p>
                <h4>Выберите правильный ответ</h4>
                <form action="{% url 'checkanswer' id=test.id %}" method="get">
                    {% for name, variant in variants.items %}
                        <p><label>
                            <input type="checkbox" name="{{ variant }}">{{ variant }}
                        </label></p>
                    {% endfor %}
                    <button class="btn btn-primary" type="submit">Проверить</button>
                </form>
            </div>
        </div>
    {% endif %}
    </div>
{% endblock content %}
