{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-3" style="margin-left: 20px;">
            {% for topic in topics %}
                <h5>{{ topic.title }}</h5>
                {% for section in topic.sections.all %}
                    <p><a href="#">{{ section.title }}</a></p>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="col-8">
            <div class="container">
                <p>{{ test.text }}</p>
                <h4>Выберите правильный ответ</h4>
                <form action="{% url 'checkanswer' %}" method="get">
                    {% for name, variant in variants.items %}
                        <p><label>
                            <input type="checkbox" name="{{ name }}">{{ variant }}
                        </label></p>
                    {% endfor %}
                    <button class="btn btn-primary" type="submit">Проверить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
