<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
    <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
          <img src="{{ course.image.url }}" alt="" height="100" width="176" style="border-radius: 10px; margin-bottom: 30px">
        <h1 class="fw-light">{{ course.title }}</h1>
          <p class="lead text-muted">{{ course.short_description }}</p>
          <h6>{% if course.status_certificate %}Сертификат Django Academy{% endif %}</h6>
          <p style="margin-left: 80%">Преподователь {{ course.author.first_name }} {{ course.author.last_name }}</p>
      </div>

    </div>
  </section>
    <div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <h2>О курсе</h2>
                <p>{{ course.description }}</p>
                <hr>
                <h2>На кого расчитан этот курс</h2>
                <p>{{ course.community }}</p>
                <hr>
                <h2>Требования</h2>
                <p>{{ course.requirements }}</p>
            </div>
            <div class="col-2">
            {% if course.price and request.user not in course.members.all %}
                <h1>{{ course.price }} ₽</h1>
                <a href="{% if not request.user.is_authenticated %}{% url 'login' %}{% endif %}" class="btn btn-success" style="font-size: x-large; padding: 0.8rem 2rem;">Купить</a>
            {% elif request.user in course.members.all %}
                <div style="margin-left: 20px">
                    <div class="row">
                        <a href="{% url 'content_view' course_id=course.id  %}" class="btn btn-success" style="font-size: x-large; padding: 0.8rem 2rem;">Продолжить</a>
                    </div>
                </div>
            {% else %}
               <div style="margin-left: 20px">
                <div class="row">
                <a href="{% url 'add_member' pk=course.id %}" class="btn btn-success" style="font-size: x-large; padding: 0.8rem 2rem;">Записаться</a>
                </div>
                   <div class="mt-5" style="border: lightgrey solid 0.3px; border-radius: 5px">
               <p style="margin: 11px;">Курс доступен бесплатно. Все материалы доступны сейчас для свободного прохождения</p>
                   </div>
            </div>
            {% endif %}
            <div class="mt-5" style="border: lightgrey solid 0.3px; border-radius: 5px">
               <div style="margin: 11px;">
                   <p style="font-weight: bold">Время прохождения курса:</p>
                   <p>{{ course.travel_time }} час(а)</p>
                   <p style="font-weight: bold">Язык:</p>
                   <p>{{ course.language }}</p>
               </div>
            </div>
    </div>
  </div>
    <div class="row" style="margin-top: 80px">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h2 style="color: grey">Отзывы о курсе</h2>
        </div>
            <hr>
        {% if course in request.user.courses.all %}
            <h3>Оставить отзыв</h3>
            <form action="" method="post">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Оставить отзыв</button>
            </form>
        {% endif %}
        {% for feedback in feedbacks %}
<div class="card mt-3">
  <div class="card-header">
    {{ feedback.author.first_name }} {{ feedback.author.last_name }}
  </div>
  <div class="card-body">
    <h5 class="card-title">Оценка: {{ feedback.mark }}</h5>
    <p class="card-text">{{ feedback.text }}</p>
    <p style="color: #75736c">{{ feedback.date_add }}</p>
  </div>
</div>
    {% endfor %}
    </div>
{% endblock content %}
