{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <div class="row mt-5 mb-3">
        <div class="col-3">
            <a class="btn btn-success" href="#">Cоздать тему</a>
        </div>
        <div class="col-3">
            <a class="btn btn-success" href="#">Cоздать подтему</a>
        </div>
        <div class="col-3">
            <a class="btn btn-success" href="#">Cоздать урок</a>
        </div>
        <div class="col-3">
            <a class="btn-success btn" href="#">Создать тест</a>
        </div>
    </div>
    {% for topic in topics %}
       <h1>{{ topic.title }}</h1>
        <div class="row">
        {% for section in topic.sections.all  %}
            <h3>{{ section.title }}</h3>

                <table class="table">
          <thead>
            <tr>
              <th scope="col">Название</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          {% for unit in section.units.all %}
            <tr>
              <td><a href="#">{{ unit.title }}</a></td>
              <td><a class="btn btn-primary" href="#">Редактировать</a></td>
              <td><a href="#" class="btn btn-danger">Удалить</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

            {% endfor %}
        </div>
    {% endfor %}
    </div>

{% endblock content %}