{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <form method="post" action="" class="form-control" style="margin-top: 10px">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Сохранить изменения</button>
    </form>
    <hr>
    {% if not request.user.status_email %}
        <h2>EMAIL не подтверждён</h2>
        <h4><a href="{% url 'email-acc' %}">Получить код и подтвердить EMAIL</a></h4>
    {% endif %}
    </div>
{% endblock content %}
